/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #fff url("../images/bgtile.png") repeat-x;
}

.inner {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 95px;
}

.phones {
  display: inline-block;
}
.wrapper {
  vertical-align: top;
  display: inline-block;
  width: 510px;
}

.imagestop {
  display: inline-block;
  vertical-align: top;
  margin-left: 50px;
}

/*.insta {
  padding-right: 30px
}*/

.home {
  margin-right: 10px;
  vertical-align: middle;
}

button {
font-size: 17px;
 color: white;
 background: -webkit-linear-gradient(#6087A6, #33648D);
 background-color: transparent;
 border-color: #1c5380 ;
 border-width: 1px;
 padding: 8px 15px 8px 10px;
 float: right;
 text-align: right;
 border-radius: 5px 5px 5px 5px;
 margin-top: 15px;
}

.maintext {
  background: url("../images/frame.png") no-repeat;
  display: inline-block;
  max-width: 520px;
  margin-left: 50px;
  padding-top: 20px;
  padding-right: 30px;
  padding-bottom: 20px;
  padding-left: 30px;
}

h2 {
  color: #06365f;
}

footer {
  text-transform: uppercase;
    text-align: center;
}

footer ul li {
  font-size: 10px;
  text-decoration: none;
  display: inline-block;
  padding-right: 10px;
  color: #1c5380;
  /*margin: 30, 0;*/
  font-weight: 800;
}

.gray {
  color: grey;
}
