/*
Colors to use:
dark blue: #06365f
light blue: #1c5380
*/

body {
  font: 200 16px/1.5 "Helvetica Neue", Helvetica, Arial, sans-serif;
  margin: 0;
  background: #fff url("../images/bgtile.png") repeat-x;
}

.inner {
  max-width: 850px;
  margin: 0 auto;
  margin-top: 95px;
}

.phones {
  display: inline-block;
}
.wrapper {
  vertical-align: top;
  display: inline-block;
  width: 510px;
}

.imagestop {
  display: inline-block;
  vertical-align: top;
}

.maintext {
  background: url("../images/frame.png") no-repeat;
    display: inline-block;
  max-width: 520px;
  margin-left: 50px;
  padding: 30px;
}

h2 {
  color: #06365f;
}

footer {
  text-transform: uppercase;
}

footer ul li {
  text-decoration: none;
  display: inline-block;
  font color: #1c5380;
  margin: 30, 0;
}
